<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
</head>
<body style="background-color:yellow">
<center><h1>Login</h1></center>
<form action ='' method="post">
    {% csrf_token %}
    <pre>
        Username : <input type="text" name="username"><br>
        Password : <input type="password" name="password"><br>
        <input type="submit" style="background-color:red">

    </pre>
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>